@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-light:#FAF3F2;
    --brown-color:rgba(29, 6, 5, 0.9);
    --brown-light-color: rgba(29, 6, 5, 0.69);
    --gold-color:#F59A1B;
    --red-color:#F43127;
    --white-color: #FFFFFF;
    --black-color:#1D0605E5;
    --menu-background: rgba(59, 32, 11, 0.05);
    --box-shandow-color: rgba(179, 155, 132, 0.5);
    --salmon-color: #FAE2CB;
    --light-white-color:rgba(255, 255, 255, 0.69);

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lilita One', cursive;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.main-content {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.section {
    width: 100%;
    height: 50.45rem;
}

.home-content {
    background-image: url(../imgs/Desktop/Banner-home.svg);
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.menu {
    display: flex;
    width: 100%;
    height: 6.4rem;
    background: var(--menu-background);
    backdrop-filter: blur(10px);
    justify-content: center;
}

.close-menu,
.close-menu-label {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    display: flex;
    /* margin-left: 12rem; */
}

.logo .heading {
    margin-left: 2.95rem;
    display: flex;
    gap: 0.5rem;
}

.heading h1 {
    font-size: 2.38rem;
    height: 3.3rem;
    line-height: 3.2rem;
    font-family: 'Lato';
    color: var(--brown-color);
}

.heading h1:nth-child(1) {
    font-weight: 900;

}

.heading h1:nth-child(2) {
    font-weight: 400;
}

.vector-logo-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 18%;
}

.vector-logo-content img:nth-child(1) {
    width: 29.49px;
    height: 17.36px;
}

.vector-logo-content img:nth-child(2) {
    width: 22.57px;
    height: 3.45px;
}

.vector-logo-content img:nth-child(2) {
    width: 22.65px;
    height: 6.47px;
}

.menu-bar {
    width: 100%;
    margin-left: 3.9rem;
}

.menu-bar .nav-bar-1 ul {
    display: flex;
    gap: 1.7rem;
}

.menu-bar .nav-bar-1 ul li {
    font-size: 1.8rem;
    line-height: 2.5rem;
    height: 2.6rem;
}

.menu-bar .nav-bar-1 ul li a {
    color: var(--brown-color);
    font-family: 'Lato';

}

.menu-bar .nav-bar-1 ul li:nth-child(1) {
    font-weight: 900;
}

.menu-contact {
    width: 95%;
}

.menu-contact ul {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.menu-contact ul li {
    color: var(--white-color);
}

.nav-bar-1 ul li a {
    position: relative;
    text-decoration: none;
    padding: 2rem;
}

.nav-bar-1 ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    transition: all 300ms ease-in-out;
    background: var(--red-color);
}

.nav-bar-1 ul li a:hover::after {
    width: 50%;
    left: 25%;
}



.menu-contact ul button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gold-color);
    border: none;
    gap: 0.8rem;
    padding: 4px 16px 4px 16px;
    border-radius: 4px;
}

.menu-contact ul button {
    cursor: pointer;
}


.menu-contact ul button img {
    width: 2.1rem;
    height: 2.1rem;
}

.home-info {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.infos-content {
    margin-top: 10rem;

}

.home-info p:nth-child(1) {
    height: 2.3rem;
    font-weight: 700;
    font-size: 2.28rem;
    line-height: 2.28rem;
    font-family: 'Lato';
    color: var(--brown-color);

}

.infos-content h2 {
    height: 8.6rem;
    font-weight: 400;
    font-size: 7.7rem;
    line-height: 8.5rem;
    font-family: 'Lilita One';
    color: var(--brown-color);

}

.infos-content h2 span {
    color: var(--gold-color);
}

.infos-content h2~p {
    height: 3.2rem;
    font-weight: 400;
    font-size: 2.28rem;
    line-height: 3.2rem;
    font-family: 'Lato';
    color: var(--brown-light-color);
}

.infos-content h2~p span {
    font-weight: 900;
    border-radius: 3px;
    padding: 0 2px;
    background: var(--gold-color);
}

.infos-content button {
    font-family: 'Lato';
    font-weight: 700;
    line-height: 3.2rem;
    font-size: 2.2rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 10px 20px 10px 20px;
    gap: 1.2rem;
    background: var(--red-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

.info-services {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:97rem;
    height: 11.85rem;
    bottom: 10rem;
    left: 10rem;
    border-radius: 10px;
    box-shadow: 0px 4px 40px var(--box-shandow-color);
    background: var(--white-color);
}

.service-1 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo-service-1 {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: var(--salmon-color);
    border-radius: 50%;
}

.service-1 .logo-service-1 {
    padding: 15px;
    border-radius: 55%;
    background: var(--salmon-color);
}

.services-h3 {
    height: 2.2rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    color: var(--brown-color);

}

.service-p {
    height: 3.9rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    opacity: 0.6;
    color: var(--brown-color);
}

.service-2 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.service-2 .logo-service-2 {
    padding: 15px;
    border-radius: 55%;
    background: var(--salmon-color);
}
.service-3 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 3rem;
}

.service-3 .logo-service-3 {
    padding: 15px;
    border-radius: 55%;
    background: var(--salmon-color);
}

.promotions {
    background:var(--background-light);
}

.promotions header{
    padding-top: 15rem;
    margin-bottom: 2rem;
}

.promotions header h3{
    height: 3.6rem;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.52rem;
    text-transform: uppercase;
    color: var(--brown-color);
}

.promotions header p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-family: 'Lato';
    margin-bottom: 1rem;
    color: var(--brown-light-color);
}


.promotion-content {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    gap: 2rem;
    width: 100%;
    height: 40.3rem;
}

.promotion-1 {
    border-radius: 10px;
    position: relative;
}

.promotion-1 img {
    width: 100%;
    height: 100%;
}

.promotion-1 p:nth-child(2) {
    position: absolute;
    top: 1.2rem;
    left: 1.7rem;
    height: 2.8rem;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-transform: uppercase;
    font-family: 'Lilita One';
    color: var(--white-color);
}

.promotion-1 p:nth-child(3) {
    position: absolute;
    top: 3.8rem;
    left: 1.7rem;
    height: 2.6rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-family: 'Lato';
    color: var(--light-white-color);
}

.promotion-1 p:nth-child(4) {
    position: absolute;
    bottom: 6rem;
    right: 4.5rem;
    height: 2.6rem;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 2.5rem;
    font-family: 'Lato';
    color: var(--light-white-color);
}

.promotion-1 p:nth-child(5) {
    position: absolute;
    bottom: 2.6rem;
    right: 3.5rem;
    font-weight: 400;
    font-size: 4.2rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    font-family: 'Lilita One';
    color: var(--light-white-color);
}

.promotion-2 {
    display: grid;
    gap: 2rem;
    grid-template-rows: 1fr 1fr;
}

.promotion-2 .promo-2 {
    border-radius: 10px;
    position: relative;
}

.promotion-2 .promo-2 img {

    width: 100%;
    height: 100%;
}

.promotion-2 .promo-3 {
    border-radius: 10px;
    position: relative;
}

.promotion-2 .promo-3 img {
    width: 100%;
    height: 100%;
}

.promo-2 p:nth-child(2) {
    position: absolute;
    top: 1.2rem;
    left: 2rem;
    height: 2.2rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: 'Lilita One';
    text-transform: uppercase;
    color: var(--brown-color);
}

.promo-2 p:nth-child(3) {
    position: absolute;
    top: 3.1rem;
    left: 2rem;
    height: 2.6rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-family: 'Lato';
    color: var(--brown-light-color);
}

.promo-3 p:nth-child(2) {
    position: absolute;
    top: 1.2rem;
    left: 2rem;
    height: 2.2rem;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: 'Lilita One';
    text-transform: uppercase;
    color: var(--brown-color);
}

.promo-3 p:nth-child(3) {
    position: absolute;
    top: 3.1rem;
    left: 2rem;
    height: 2.6rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-family: 'Lato';
    color: var(--brown-light-color);
}

.work-time {
    background: var(--background-light);
    height: 100%;
    padding-top: 3rem;
}

.info-time {
    padding-top: 20rem;
    gap: 2rem;
    display: flex;
}

.time {
    display: flex;
    position: relative;
    align-items: center;
    gap: 1rem;
    width: 57rem;
    height: 10.3rem;
    border-radius: 10px;
    margin-bottom: 3em;
    background: var(--red-color);
}

.time span::before {
    position: absolute;
    content: 'Aberto!';
    top: -10px;
    left: -2rem;
    width: 12rem;
    text-align: center;
    background: var(--brown-color);
    color: var(--white-color);
    border-radius: 1rem;
    font-family: '';
    font-size: 2rem;
    font-family: 'Lilita One', cursive;
}

.time img:nth-child(1) {
    height: 9.4rem;
    width: 9.4rem;
    margin-left: 1.5rem;
}

.time h2 {
    height: 2.8rem;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 2.75rem;
    text-transform: uppercase;
    color: var(--brown-light-color);
}

.time p {
    font-family: 'Lato';
    font-weight: 700;
    font: 1.6rem;
    line-height: 2.2rem;
    color: rgba(255, 255, 255, 0.85);
    margin-bottom: 0;
}

.media-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.media-social p:nth-child(1) {
    height: 2.6rem;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.5rem;
    color: var(--brown-light-color);
}

.media-social h3 {
    height: 2.9rem;
    font-family: 'Lilita One';
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    color: var(--red-color);
}

.contact-container h2 {
    height: 3.6rem;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.52rem;
    text-transform: uppercase;
    font-family: 'Lilita One';
    text-align: center;
    color: var(--black-color);
}

.contact-container p {
    height: 2.3rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 3.2rem;
    font-family: 'Lato';
    color: var(--brown-light-color);
    text-align: center;
}

footer {
    padding: 1rem;

}

.footer-content {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo-footer {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.logo-footer p {
    height: 3.3rem;
    font-weight: 400;
    font-size: 2.9rem;
    line-height: 3.2rem;
    font-family: 'Lato';
    text-transform: uppercase;
    color: var(--gold-color);
}

.logo-footer p span {
    margin-right: 0.5rem;
    font-weight: 900;
}

.menu-footer nav ul {
    display: flex;
    gap: 1.5rem;
}

.menu-footer nav ul li a {
    height: 2.6rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.52rem;
    font-family: 'Lato';
    color: var(--brown-color);
}

.social-media-footer {
    display: flex;
    gap: 2rem;
}

.address-content {
    text-align: center;
    padding: 1rem;
}

.footer-container img {
    border: 1px solid rgba(29, 6, 5, 0.15);

}

.address-content p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: var(rgba(2, 14, 31, 0.69));
    font-family: 'Inter', sans-serif;
    margin-top: 1rem;
}

.address-content p span{
    font-weight: 700;
}

footer {
    width: 100%;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--gold-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4rem;
    transform: rotate(-90deg);
    border: 0.1rem solid var(--secundary-color);
    color: var(--primary-color);
    z-index: 4;
}


@media (max-width: 1333px) {
    .infos-content,
    .menu,
    .promotions,
    .work-time,
    .footer-content {
        padding: 0 2rem;
    }
}

@media (max-width: 1229px) {
    .info-services {
        width: 90rem;
    }
}


@media (max-width: 1115px) {
    .home-content {
        width: 100%;
    }
}



@media (max-width: 1080px) {
    .info-services {
        width: 85rem;
    }
}

@media (max-width: 1129px) {
    .menu-content {
        gap: 5rem;
    }
}

@media (max-width: 990px) {
    .menu {
        width: 100%;
    }

    .menu-content {
        gap: 1rem;
    }
}

@media(max-width: 960px) {
    .info-services {
        width: 80rem;
    }
    .media-social {
        gap: 2rem;
        margin-bottom: 1rem;
    }
    .media-social p:nth-child(1) {
        text-align: center;
        font-size: 2em;
        margin-bottom: 1rem;
    }
    .media-social h3 {
        text-align: center;
        font-size: 2rem;
    }

    .infos-content h2 {
        font-size: 6rem;
    }

    .infos-content h2~p {
        font-size: 2rem;
    }
}

@media(max-width: 912px) {
    .info-services {
        width: 70rem;
    }
    .services-h3 {
        font-size: 1.5rem;
    }
}

@media (max-width:905px) {
    .nav-bar-1 ul li a {
        font-size: 1.2rem;
    }
}

@media (max-width: 856px) {
    .time div h2 {
        font-size: 2rem;
    }
    .time h2 {
        font-size: 1.2rem;
    }
    .time {
        margin-bottom: 3em;
    }
}

@media (max-width: 815px) {
    .info-services {
        width: 65rem;
    }

    .services-h3 {
        font-size: 1.5rem;
    }
    .promotion-2 .promo-2 p:nth-child(2) {
        font-size: 1.8rem;
    }
    .promotion-2 .promo-2 p:nth-child(3) {
        font-size: 1.3rem;
    }

    .promotion-2 .promo-3 p:nth-child(2) {
        font-size: 1.6rem;
    }
    .promotion-2 .promo-3 p:nth-child(3) {
        font-size: 1.3rem;
    }
}

@media (max-width: 805px) {
    .infos-content h2 {
        font-size: 4.6rem;
    }
    .service-p {
        font-size: 1.4rem;
    }
    .time h2 {
        font-size: 1.3rem;
        padding-right: 0.5rem;
    }
}

@media (max-width: 780px) {
    .logo .heading h1 {
        font-size: 1.8rem;
    }
}

@media (max-width:765px) {
    .info-services {
        width: 60rem;
    }
    .services-h3 {
        font-size: 1.2rem;
    }

    .time h2 {
        font-size: 1rem;
    }
}

@media (max-width: 740px) {
    .menu {
        display: none;
    }
    .infos-content {
        margin-top: 0;
    }
    .close-menu-label {
        display: block;
    }
    .close-menu {
        display: block;
    }
    .close-menu-label::after {
        content: '≡';
        
        position: absolute;
        right: 0;
        z-index: 3;
        top: 1rem;
        right: 2rem;
        background: var(--brown-light-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        padding: 0.5rem;
        text-align: center;
        cursor: pointer;
    }

    .close-menu-label::before {
        position: absolute;
        content: url(../imgs/Mobile/Coroa-empire.png) ' EMPIRE BURGER';
        z-index: 3;
        left: 1rem;
        top: 1.5rem;
        color: var(--brown-color);
        font-size: 2rem;

    }
    .logo {
        display: none;
    }

    .close-menu:checked~.menu{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .menu-content.main-content{
        margin-left: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .menu-bar nav{
        top: 35%;
        left: 0;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .menu-contact {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .logo {
        position: absolute;
        left: 38%;
        top: 20%;
    }

    .logo .heading{
        position: absolute;
    }
    
    .close-menu:checked~.close-menu-label::after {
        content: '×';
        background: var(--red-color);
    }
    .close-menu {
        display: none;
    }
  
    .infos-content h2 {
        font-size: 5rem;
    }
    .infos-content h2~p {
        font-size: 1.5rem;
    }
    .promotion-2 .promo-2 p:nth-child(2) {
        font-size: 1.5rem;
    }
    .promotion-2 .promo-2 p:nth-child(3) {
        font-size: 1.2rem;
    }

    .promotion-2 .promo-3 p:nth-child(2) {
        font-size: 1.3rem;
    }
    .promotion-2 .promo-3 p:nth-child(3) {
        font-size: 1.2rem;
    }
    .info-services {
        bottom: -7rem;
    }
    .promotions header {
        padding-top: 10rem;
    }
    .info-time {
        padding-top: 13rem;
    }
    .infos-content {
        padding-top: 10rem;
    }
}

@media (max-width:760px) {
    .time {
        position: relative;
        padding: 9rem 0;
        align-items: center;
    }

    .time h2 {
        position: absolute;
        align-items: center;
        top: 5rem;
    }

    .time p:nth-child(2) {
        position: absolute;
        bottom: 5rem;
    }

    .time p:nth-child(3) {
        position: absolute;
        bottom: 3rem;
    }
    .menu-footer {
        display: none;
    }
}

@media (max-width: 700px) {
    .info-services {
        bottom: -10rem;
        width: 55rem;
        padding: 8rem 0;
        margin-bottom: 2rem;
        gap: 1rem;
    }
    .services-h3 {
        font-size: 1rem;
    }
    .service-3 .services-h3:nth-child(1) {
        margin-bottom: 1.8rem;
    }
}

@media (max-width: 655px) {
    .info-services {
        width: 50rem;
        align-items: center;
    }
    .service-1 {
        margin-top: 2rem;
    }
   .service-p {
    font-size: 1rem;
    }
    .service-3 .services-h3:nth-child(1) {
        margin-bottom: 2rem;
    }
    .promotion-2 .promo-2 p:nth-child(2) {
        font-size: 1.3rem;
    }
    .promotion-2 .promo-2 p:nth-child(3) {
        font-size: 1.1rem;
    }

    .promotion-2 .promo-3 p:nth-child(2) {
        font-size: 1.2rem;
    }
    .promotion-2 .promo-3 p:nth-child(3) {
        font-size: 1.1rem;
    }
}

@media (max-width:610px) {
    .home-content {
        background-image: url(../imgs/Mobile/Banner\ mobile\ 1.png);
        height: 100vh;
        z-index: 3;
    }
    .promotion-content.main-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .promotions {
        z-index: 0;
        padding-top: 17rem;
    }
    .info-services {
        z-index: 1;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;

        height: auto;
        gap: 0;
        left: 5rem;
        bottom: -25rem;
        padding-top: 1rem;
    }
    .hr-service {
        display: none;
    }
    .work-time {
        padding-top: 75rem;
    } 
    .info-time .time h2 {
        font-size: 1.7rem;
    }
    .info-time .time p {
        font-size: 0.8rem;

    }
}

@media (max-width: 570px) {
    .info-services {
        width: 40rem;
        left: 10%;
    }
    .info-time {
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .time {
        width: 52rem;
    }
    .work-time {
        padding-top: 70rem;
    } 
}

@media (max-width: 545px) {
    .time {
        width: 45rem;
        left: 3%;
    }
    .work-time {
        padding-top: 65rem;
    } 
}

@media (max-width:525px) {
    .work-time {
        padding-top: 60rem;
    } 
}

@media (max-width:501px) {
    .time {
        width: 40rem;
        left: 4%;
    }
}

@media (max-width:480px) {
    .work-time {
        padding-top: 55rem;
    }
    .media-social {
        padding-bottom: 2rem;
    }
    .contact-container h2+p {
        padding-top: 5rem;
    }
}

@media (max-width:455px) {
    .time {
        width: 35rem;
        left: 4%;
    }
    .info-services {
        width: 35rem;
        left: 10%;
    }
    .work-time {
        padding-top: 50rem;
    }
}

@media (max-width:420px) {
    .work-time {
        padding-top: 45rem;
    }
}

@media (max-width:400px) {
    .work-time {
        padding-top: 42rem;
    }
    .time {
        width: 30rem;
        left: 10%;
    }
    .info-services {
        width: 35rem;
        left: 5%;
    }
}

@media (max-width:372px) {
    .work-time {
        padding-top: 40rem;
    }
    .time {
        width: 31rem;
        left: 4%;
    }
    .info-services {
        width: 30rem;
        left: 10%;
    }
}

@media (max-width:375px) {
    .work-time {
        padding-top: 40rem;
    }
    .time {
        width: 31rem;
        left: 4%;
    }
    .info-services {
        width: 30rem;
        left: 10%;
    }
}

@media (max-width:360px) {
    .work-time {
        padding-top: 36rem;
    }
    .time {
        width: 30rem;
        left: 1%;
    }
    .info-services {
        width: 30rem;
        left: 7%;
    }
}